body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
}

p {
  font-size: 17px;
  color: #636060;
  font-weight: 400;
  display: inline-block;
}

.didi {
  background-image: url(../images6/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 606px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 79px;
}

.cxeli {
  font-size: 29px;
  color: black;
}

.d {
  font-size: 17px;
  color: #636060;
  font-weight: 400;
}

.ESRAGACWAMEBA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 235px;
}

.debilizmi {
  font-size: 20px;
  color: #636060;
}

.cardi {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 286px;
}

.cardish2 {
  font-size: 19px;
  color: #636060;
}

.cardish3 {
  font-size: 18px;
  width: 286px;
  font-weight: 400;
  color: lightslategray;
}

.dididivi {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 900px;
}

.didiseqcia {
  margin-top: 25px;
}

.fotoc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.qveda {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
